.App {
  font-family: sans-serif;
  text-align: center;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #7a778ff1;
  padding: 20px;
}
.link-to-code a {
 color: #8a80e6;
 text-decoration: none;
}
.App a:hover{
  color: #8a80e6;
  text-decoration: underline;
 }
.author {
  color: #7a778ff1;
}
