.App {
  font-family: sans-serif;
  text-align: center;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.App a {
 color: #8a80e6;
}
.author {
  color: #7a778ff1;
}
