.forecast{
 width: 100%;
 margin: 0 auto;
 text-align: center;
 display: flex;
 justify-content: space-evenly;
 flex-direction: row;
}
.forecast-temperature-max {

}
.forecast-temperature-min {
 opacity: 0.7;
}