h1 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
  padding: 0;
}
.page {
  max-width: 650px;
  margin: 10px auto;
  padding: 30px 35px;
  background-color: rgba(215, 210, 254, 0.8)
}
