h1 {
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
  padding: 0;
}
.page {
  max-width: 650px;
  margin: 10px auto;
  padding: 12px 30px;
  background-color: rgba(158, 151, 212, 0.336);
  color: #fff;
}
.temp-now {
  padding-left: 15px;
  font-size: 38px;
  font-weight: 800;
}
.temp-units{
  font-size: 16px;
  position: relative;
  top: -27px;
  line-height: 1;
}
.celsius, .fahrenheit{
  text-decoration: none;
  color: white;
}
.temp-units .active{
  cursor: default;
  color: #fff;
  text-decoration: underline;
}
.temp-units .active:hover{
  cursor: default;
  color: #fff;
}
.actual-units{
  font-size: 28px;
  color: rgb(149, 126, 175);
}
.weather-properties {
  text-align: center;

}
.list-properties{
  margin-bottom: 10px;
}
.day-info {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(13, 15, 134, 0.288);
  margin: 6px 15px;
  border-radius: 5px;
}
.day {
  text-align: left;
}
.min-temp{
  opacity: 0.7;
}
.link-to-code {
  margin: 20px auto;
  text-align: center;
}
