.Temperature{
  display: inline-block;
}
.temperature {
  color: rgb(149, 126, 175);
}
.temp-units {
  font-size: 16px;
  position: relative;
  top: -27px;
  line-height: 1;
  color: rgb(149, 126, 175);
}
.temp-units a {
  color: #fff;
  text-decoration: none;
}
.temp-units a:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}
.celsius, .fahrenheit{
  text-decoration: none;
  color: white;
}
.divider {
  color: white;
}